@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/bai-jamjuree";
@import "animate.css";

/* @font-face {
    font-family: "Bai Jamjuree";
    src: url(fonts/SanFranciscoText-Light.otf);
  } */



:root {
    --primary-link: #0058DB;
    --primary: #C71010;
    --text-primary: #07A0A0;
    --secondary: #04DDDD;
    --text-gray: #B6A4A4;
    --white-color: #fff;
    --black-color: #000;
    --text-green: #05A84B;
    --bg-fillter: rgba(0, 0, 0, 0.5);
    --bg-hover: #f0f0f6;
    --bg-lightBlue: #E8EEF4;
}

@import "./home.css";

body {
    font-family: "Bai Jamjuree";
    /* overflow-x: hidden; */
   max-width: 100%;
}



pre {
    font-family: "Bai Jamjuree";
}